
    {%extends 'base/main.html'%}
    {%load static%}
    {%block content%}


    <section class="hero">
        <div class="hero-content">
            <div class="hero-content-intro">
            <img id="profile-pic" src="{%static 'images/profile.jpg'%}" alt="">
            <h1 class="intro-name">Edward <br> Dume</h1>
        </div>
        <div class="hero-content-subheadline">
        <h3 class="description">Fullstack Developer</h3>
        <p class="slogan"><h5> Highly motivated and skilled tech professional with a strong background in software development, IT support, and customer service. Proven ability to contribute to dynamic teams through technical expertise, problem-solving skills, and a drive for innovation. Seeking a Technology Associate role to leverage my skills and experience in building impactful solutions.</h5>
        </p>
    </div>
    </div>
        
    </section>

    <section class="container section-2" id="projects">

        <h3>My Projects</h3>
        <h5>Projects that makes my Journey worthwhile</h5>

        <div class="projects-wrapper">

            {%for project in projects%}
            <div class="project-column">
                <a href="{%url 'project' project.id %}">
               <img class="project-thumbnail" src="{{project.thumbnail}}" alt="">
                </a>
               <div class="project-body">
                    <h5>{{project.title}}</h5>
                </div>
            </div>
            {%empty%}
            <h3>There are no Projects in the database...!!</h3>
            {%endfor%}
        </div>
        
        <div class="about-wrapper">
        <h3>More About Me</h3>
Key Highlights:
<ul>
<li>Proficient in Python, JavaScript, HTML, CSS, Django, Bootstrap, and various APIs and tools.</li>
<li>Experience in freelance development, IT support, and software development internships.</li>
<li>Developed personal projects showcasing web development skills, including a portfolio website, poll app, and blog app.</li>
<li>Possess strong communication and problem-solving abilities, honed through customer service experience.</li>
<li>Committed to continuous learning and growth, as demonstrated by recent web development bootcamp completion.</li>
</ul> </div>
        
    </section>

    <section class="section-1">
    <div class="skills-container">
        <h3>My Technical Skills</h3>
        {%for skill in detailedskills%}
        <div class="skill-wrapper">
            {%if skill.logo%}
            <img class="skill-logo" src="{{skill.logo.url}}" alt="">
            {%endif%}
        <div>
            <h5>{{skill.title}}</h5>
            <p>{{skill.body}}</p>
        </div>
        </div>
        {%endfor%}

        
        <h4>Other Skills</h4>
        <div class="other-skills-wrapper">
        {%for skill in skills%}
        <div class="skill-tag">
                <p>{{skill.title}}</p>
            </div>
        </div>
        {%endfor%}
    </div>


</section >

<section class="section-2">
    <div class="skills-container">
        <h3>Endorsements</h3>
        <a class="btn btn-primary my-3" href="{%url 'add-endorsement'%}">Add Endorsements</a>
        {%for i in endorsements%}
        <div style="margin-bottom: 1em;" class="card">
            <div class="card-body">
                <h5>{{i.name}}</h5>
                <p>{{i.body}}</p>
            </div>
        </div>
        {%endfor%}
    </div>


</section >


<section class="section-1" id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="section-heading text-center">
                    <h2>Get <strong>In Touch</strong></h2>
                </div>
            </div>

            <div class="col-md-7 mb-5 mb-md-0">
                <form  action="" method="POST" class="contact-form">
                    <h3 class="mb-5">Get In Touch</h3>
                    {%csrf_token%}
                    {%for field in form%}
        
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">{{field.label}}</label>
                        {{field}}
                    </div>
            
                    {%endfor%}
            
                    <input class="btn btn-primary" type="submit" value="Send a Message">
                </form>
            </div>
            <div class="col-md-5 pl-md-5">
                <h3 class="mb-5">My Contact Details</h3>
                <ul class="site-contact-details">
                    <li>
                        <span class="text-uppercase">Email</span>
                        edwarddume55@gmail.com
                    </li>
                    <li>
                        <span class="text-uppercase">Phone</span>
                        +254 762378970
                    </li>
                    <li>
                        <span class="text-uppercase">Address</span>
                        Nairobi, Kenya 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<footer class="footer">
    <div class="container">

        <div class="row mb-5">
            <p class="col-12 text-center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | Developed by <i class="icon-heart text-danger" aria-hidden="true" ></i> by <a href="#" target="_blank" class="text-primary">devDume</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
        
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <p>
                    <a href="#" class="social-item"><span class="icon-facebook2"></span></a>
                    <a href="#" class="social-item"><span class="icon-twitter"></span></a>
                    <a href="#" class="social-item"><span class="icon-instagram2"></span></a>
                    <a href="#" class="social-item"><span class="icon-linkedin2"></span></a>
                    <a href="#" class="social-item"><span class="icon-vimeo"></span></a>
                </p>
            </div>
        </div>
        
    </div>
</footer>
{% endblock content %}